* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 60px;
}

body {
    color: #232b2b;
}

li {
    font-size: 18px;
}

a {
    color: teal;
}

a:hover {
  color:lightseagreen;
}

footer {
    margin-top: 40px;
    border-top: gainsboro dashed 1px;
    padding-bottom: 40px;
}
