* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 400px;
    background: url('https://images.westend61.de/0001391334pw/cat-painting-with-senior-man-on-paper-at-home-AFVF06499.jpg') rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

body {
    color: #232b2b;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
 section {
     border-bottom: gainsboro dashed 1px;
     padding-bottom: 40px;
 }

 h2 {
     font-size: 40px;
     padding: 20px;
     color: white;
 }

 #brushes h2 {
    background-color: lightgreen;
 }

 #frames h2 {
    background-color: lightsalmon;
 }

 #paint h2 {
    background-color: lightskyblue;
 }


h3 {
    font-size: 24px;
}

label {
    font-weight:bold;
    color:teal;
    margin-top: 10px;
}

img {
    height: 200px;
}

button {
    background-color: lightseagreen;
    color: white;
    border-style:none;
    border-color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
 button:hover {
     background-color: indigo;
 }